<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-md-4">
            <div class="card o-hidden widget-cards">
                <div class="bg-warning card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'navigation'" class="font-warning"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">Total Seal</span>
                            <h3 class="mb-0"><span class="counter" [CountTo]="1480" [from]="0"
                                    [duration]="2">1480</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4">
            <div class="card o-hidden  widget-cards">
                <div class="bg-secondary card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'box'" class="font-secondary"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">Installed Seal</span>
                            <h3 class="mb-0"><span class="counter" [CountTo]="1416" [from]="0"
                                    [duration]="2">1416</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4">
            <div class="card o-hidden widget-cards">
                <div class="bg-primary card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'message-square'" class="font-primary"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">Available Seal</span>
                            <h3 class="mb-0"><span class="counter" [CountTo]="64" [from]="0" [duration]="2">64</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            <h2 class="mb-0">Self Stuffing</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                            <button type="button" class="btn btn-primary">Click to Install</button>
                        </div>
                        <div class="bg-secondary b-r-8">
                            <div class="small-box">
                                <i data-feather="credit-card"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            <h2 class="mb-0">Installed Seal</h2>
                            <p>Please click below button to view installed seal details</p>
                            <button type="button" class="btn btn-primary">View Installed Seals</button>
                        </div>
                        <div class="bg-warning b-r-8">
                            <div class="small-box">
                                <i data-feather="shopping-cart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            <h2 class="mb-0">Draft Seal</h2>
                            <p>Please click below button to view draft seal details</p>
                            <button type="button" class="btn btn-primary">View Draft Seals</button>
                        </div>
                        <div class="bg-primary b-r-8">
                            <div class="small-box">
                                <i data-feather="calendar"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            <h2 class="mb-0">Add Requisition</h2>
                            <p>View/Add Seal Requisition</p>
                            <button type="button" class="btn btn-primary"
                                [routerLink]="'/requisition/requisition'">View/Add Seal Requisition</button>
                        </div>
                        <div class=" bg-danger b-r-8">
                            <div class="small-box">
                                <i data-feather="calendar"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->