    <!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            
            <div class="card">
                <div class="card-body">
                    <div class="register-box">
                    <!-- <form class="form-horizontal auth-form"> -->
                        <section>
                            <div class="form-group">
                                <label>eSeal Number  <span>*</span></label>
                                <ng-template #rt let-r="result" let-t="term" class="form-control">
                                    <ngb-highlight style="font-size: 12px;" [result]="r['name']" [term]="t"></ngb-highlight>
                                </ng-template>
                                <input #instance="ngbTypeahead" id="typeahead-template" type="text"
                                    placeholder="Select version" class="form-control search-properties" [ngbTypeahead]="search" [resultTemplate]="rt"
                                    [inputFormatter]="formatter" (selectItem)="selected($event)" [(ngModel)]="searchText" (keyup)="onChange($event)"/>
                                <button type="button" class="btn btn-primary ml-2" (click)="onTrack()">Track</button>
                            </div>
                        </section>
                    <!-- </form> -->
                </div>
                    <div class="table-responsive">
                        <div class="custom-datatable">
                            <input type='text' class="filter-ngx form-control" placeholder='Search...'
                                (keyup)='updateFilter($event)' />
                            <ngx-datatable *ngIf="order && location" class="bootstrap" [rows]="order" [columnMode]="'force'" [headerHeight]="50"
                                [footerHeight]="50" [rowHeight]="'auto'" [limit]="5">
                                <ngx-datatable-column prop="sealNo"></ngx-datatable-column>
                                <ngx-datatable-column prop="scanTime">
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                            {{ row.scanTime | date: 'medium'}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="sealTime">
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        {{ row.sealTime | date: 'medium'}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="ports">
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                       <span *ngFor="let key of row.ports, let i = index"> {{key.name}}
                                            <span *ngIf="row.ports.length > 0 && i < row.ports.length -1">,</span>
                                       </span>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="icds">
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        <span *ngFor="let key of row.icds, let i = index"> {{key.name}}
                                            <span *ngIf="row.icds.length > 0 && i < row.icds.length -1">,</span>
                                        </span>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="location"></ngx-datatable-column>
                                <ngx-datatable-column prop="status"></ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->