<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="custom-datatable">
                            <input type='text' class="filter-ngx form-control" placeholder='Search...'
                                (keyup)='updateFilter($event)' />
                            <ngx-datatable *ngIf="order" class="bootstrap" [rows]="order" [columnMode]="'force'" [headerHeight]="50"
                                [footerHeight]="50" [rowHeight]="'auto'" [limit]="5">
                                <ngx-datatable-column prop="sealno"></ngx-datatable-column>
                                <ngx-datatable-column prop="sealStatus"></ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->