<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Please Enter Seal Details</h5>
        </div>
        <div class="card-body">
            <form class="needs-validation" [formGroup]="repoForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label for="" class="col-xl-2 col-md-4"><span>*</span>
                                    No. of Seal</label>
                                <input class="form-control col-xl-10 col-md-7" (change)="onKey($event)" formControlName="noOfSeals" id="" type="text" required="">
                            </div>
                        </div>
                        <div class="col-sm-12" *ngIf="isEseal">
                            <div class="form-group row">
                                <label for="" class="col-xl-2 col-md-4"><span>*</span>
                                    Start</label>
                                <div class="col-4 p-0">
                                    <ng-multiselect-dropdown formControlName="stratSealRange" placeholder="Select" [data]="esealList"
                                        [settings]="dropdownSetting">
                                    </ng-multiselect-dropdown>
                                </div>
                                    <label for="" class="col-xl-2 col-md-4 text-right"><span>*</span>
                                        End</label>
                                <div class="col-4 p-0">
                                    <ng-multiselect-dropdown formControlName="endSealRange" placeholder="Select" [data]="esealList"
                                        [settings]="dropdownSetting">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 mb-4 text-center">
                            <button class="btn btn-primary" >ADD</button>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>                    
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->





 





