<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>&#160;</h5>
        </div>
        <div class="card-body">
            <form class="needs-validation"  [formGroup]="vendorForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label for="" class="col-xl-3 col-md-4"><span>*</span>
                                    Vendor Name</label>
                                <input class="form-control col-xl-9 col-md-7"  formControlName="vendorName"  id="" type="text" required="">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label for="" class="col-xl-3 col-md-4"><span>*</span>
                                    No. of Seal requested</label>
                                <input class="form-control col-xl-9 col-md-7"  formControlName="noOfEsealRequested" id="" type="text" required="">
                            </div>
                        </div>
                          <div class="col-sm-12">
                            <div class="form-group row">
                                <label for="" class="col-xl-3 col-md-4"><span>*</span>
                                    Eseal number</label>
                               <div class="col-xl-9 col-md-7 p-0"> 
                                    <ng-multiselect-dropdown formControlName="esealIds" placeholder="Select" [data]="esealList"
                                        [settings]="dropdownSetting">
                                    </ng-multiselect-dropdown>
                               </div>
                            </div>
                        </div>
                        <!-- <div class="col-sm-12">
                            <div class="form-group row">
                                <label for="" class="col-xl-3 col-md-4">Seal Number</label>
                                <input class="form-control col-xl-4 col-md-8" id="" type="text" required="">
                                <label for="" class="col-xl-1 col-md-4 text-center"> - </label>
                                <input class="form-control col-xl-4 col-md-8" id="" type="text" required="">
                            </div>
                        </div> -->
                        <div class="mt-4 mb-4 text-center">
                            <button class="btn btn-primary" type="submit">Transfer</button>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>                    
                </div>


              

            </form>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->





 





