<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="custom-datatable">
                            <div class="btn-popup pull-right">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-original-title="test"
                                    data-target="#exampleModal" (click)="open(content)">New Requisition</button>
                                <ng-template #content let-modal>
                                    <div class="modal-header">
                                        <h5 class="modal-title f-w-600" id="exampleModalLabel">New Requisition</h5>
                                        <button type="button" class="close" aria-label="Close"
                                            (click)="modal.dismiss('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="needs-validation">
                                            <div class="form">
                                                <h4>Enter Seal Quantity</h4>
                                                <div class="form-group">
                                                    <button class="up-arrow" (click)="increment()"></button>
                                                    <input class="form-control" type="text" value="{{counter}}">
                                                    <button class="down-arrow" (click)="decrement()"></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" (click)="submit()">Confirm</button>
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                            (click)="modal.dismiss('Cross click')">Close</button>
                                    </div>
                                </ng-template>
                            </div>
                            <input type='text' class="filter-ngx form-control" placeholder='Search...'
                                (keyup)='updateFilter($event)' />
                            <ngx-datatable class="bootstrap" [rows]="order" [columnMode]="'force'" [headerHeight]="50"
                                [footerHeight]="50" [rowHeight]="'auto'" [limit]="5">
                                <ngx-datatable-column prop="vendorName"></ngx-datatable-column>
                                <ngx-datatable-column prop="noOfEsealRequested"></ngx-datatable-column>
                                <ngx-datatable-column prop="requestedDate"></ngx-datatable-column>
                                <ngx-datatable-column prop="status">
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        <span *ngIf="row.status === 'new'" class="badge badge-warning">New</span>
                                        <span *ngIf="row.status === 'accepted'" class="badge badge-danger">Accepted</span>
                                        <span *ngIf="row.status === 'trasnsfer'" class="badge badge-success">No action required</span>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="Action">
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        <button *ngIf="row.status === 'new'" class="btn btn-primary btn-sm mr-1"
                                            (click)="onAction(row, 'accepted')">Accept</button>
                                        <button *ngIf="row.status === 'new'" class="btn btn-secondary btn-sm"
                                            (click)="onAction(row, 'rejected')">Reject</button>
                                        <button *ngIf="row.status === 'accepted'" class="btn btn-primary btn-sm"
                                            (click)="onAction(row, 'transferred')">Transfer</button>
                                        <span *ngIf="row.status === 'trasnsfer'">No action required</span>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->


