$width100: 100vw;
$height100: 100vh;

.register-box {
  min-width: $width100;
  min-height: $height100;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  .row {
    margin: 0;
    width: $width100;
    height: $height100;
  }
  .fixed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .card {
    margin-bottom: 0;
    h1 {
      border-bottom: 1px solid #ccc;
      padding: 0 10px 10px 10px;
      color: #035a6d;
      margin: 0.37em 0 0 0;
    }
    h4 {
      font-size: 15px;
      font-weight: bold;
      padding: 20px 10px 15px 10px;
    }
    section {
      border-bottom: 1px solid #ccc;
      .form-group {
        display: flex;
        align-items: center;
        padding: 0 30px 0 0;
        label {
          width: 30vw;
          padding-right: 20px;
          text-align: right;
          margin-bottom: 0;
        }
        span {
          color: red;
        }
      }
    }
    .custom-control {
      margin: 25px 0;
      display: flex;
      width: 100%;
      div:first-child {
        width: 30%;
      }
    }
  }
  .text-align {
    margin-top: 30px;
    text-align: center;
  }
  .single-item {
    display: flex;
    align-items: center;
    height: $height100;
    .svg-icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 24px 24px 24px 30px;
      margin: 0 auto;
      border-radius: 100%;
      height: 200px;
      width: 200px;
      text-align: center;
      margin-bottom: 40px;
      background: #fff;
      &::before {
        position: absolute;
        content: "";
        left: -10px;
        right: 0;
        top: -10px;
        bottom: 0;
        height: 220px;
        width: 220px;
        border: 2px dashed #fff;
        border-radius: 100%;
      }
      svg,
      img {
        height: 75px;
      }
    }
  }
}
