<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-md-4">
            <div class="card o-hidden widget-cards">
                <div class="bg-warning card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'navigation'" class="font-warning"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">New Vendor Request</span>
                            <h3 class="mb-0"><span class="counter" [CountTo]="1480" [from]="0"
                                    [duration]="2">1480</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4">
            <div class="card o-hidden  widget-cards">
                <div class="bg-primary card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'box'" class="font-secondary"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">Available Seals</span>
                            <h3 class="mb-0"><span class="counter" [CountTo]="1416" [from]="0"
                                    [duration]="2">1416</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4">
            <div class="card o-hidden widget-cards">
                <div class="bg-secondary card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'message-square'" class="font-primary"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">Total Vendors</span>
                            <h3 class="mb-0"><span class="counter" [CountTo]="64" [from]="0" [duration]="2">64</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Vendor Eseal Request</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="custom-datatable">
                            <input type='text' class="filter-ngx form-control" placeholder='Search...'
                                (keyup)='updateFilter($event)' />
                            <ngx-datatable class="bootstrap" [rows]="order" [columnMode]="'force'" [headerHeight]="50"
                                [footerHeight]="50" [rowHeight]="'auto'" [limit]="5">
                                <ngx-datatable-column prop="vendorName"></ngx-datatable-column>
                                <ngx-datatable-column prop="noOfEsealRequested"></ngx-datatable-column>
                                <ngx-datatable-column prop="requestedDate"></ngx-datatable-column>
                                <ngx-datatable-column prop="status">
                                <ng-template ngx-datatable-cell-template let-row="row">
                                    <span *ngIf="row.status === 'new'" class="badge badge-warning">New</span>
                                    <span *ngIf="row.status === 'accepted'" class="badge badge-danger">Accepted</span>
                                    <span *ngIf="row.status === 'trasnsfer'"  class="badge badge-success">No action required</span>
                                </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="Action">
                                <ng-template ngx-datatable-cell-template let-row="row">
                                    <button *ngIf="row.status === 'new'" class="btn btn-primary btn-sm" (click)="onAction(row, 'accepted')">Accept</button>
                                    <button *ngIf="row.status === 'new'" class="btn btn-secondary btn-sm" (click)="onAction(row, 'rejected')">Reject</button>
                                    <button *ngIf="row.status === 'accepted'" class="btn btn-primary btn-sm" (click)="onAction(row, 'transfer')">Transfer</button>
                                    <span  *ngIf="row.status === 'trasnsfer'">No action required</span>
                                </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Container-fluid Ends-->