<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-md-4">
            <div class="card o-hidden widget-cards">
                <div class="bg-warning card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'navigation'" class="font-warning"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">New Vendor Request</span>
                            <h3 class="mb-0"><span class="counter" *ngIf="details && details.newVendorsRequest">{{details.newVendorsRequest}}</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4">
            <div class="card o-hidden  widget-cards">
                <div class="bg-primary card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'box'" class="font-secondary"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">Available Seals</span>
                            <h3 class="mb-0"><span class="counter" *ngIf=" details &&  details.availableSeals">{{details.availableSeals}}</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4">
            <div class="card o-hidden widget-cards">
                <div class="bg-secondary card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'message-square'" class="font-primary"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">Total Vendors</span>
                            <h3 class="mb-0"><span class="counter" *ngIf="details && details.totalVendors">{{details.totalVendors}}</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Vendor Eseal Request</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="custom-datatable">
                        <div class="row">
                            <div class="col-9">
                                <input type='text' class="filter-ngx form-control" placeholder='Search...' (keyup)='updateFilter($event)' />
                            </div>
                            <div class="col-3 drop-down">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                        aria-expanded="false" (click)="toggle()">
                                        <img src="../../../../assets/images/filter.png">
                                       Filter
                                    </button>
                                    <ul *ngIf="showDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" (click)="action('vendor')">Filter by Vendor</a></li>
                                        <li><a class="dropdown-item" (click)="action('health')">Health Status</a></li>
                                        <li><a class="dropdown-item" (click)="action('installed')">Installed seal</a></li>
                                    </ul>
                                </div> 
                            </div>
                        </div>
                            <ngx-datatable class="bootstrap" [rows]="order" [columnMode]="'force'" [headerHeight]="50"
                                [footerHeight]="50" [rowHeight]="'auto'" [limit]="5">
                                <ngx-datatable-column prop="vendorName"></ngx-datatable-column>
                                <ngx-datatable-column prop="noOfEsealRequested"></ngx-datatable-column>
                                <ngx-datatable-column prop="requestedDate"></ngx-datatable-column>
                                <ngx-datatable-column prop="status">
                                <ng-template ngx-datatable-cell-template let-row="row">
                                    <span *ngIf="row.status === 'new'" class="badge badge-warning">New</span>
                                    <span *ngIf="row.status === 'accepted'" class="badge badge-danger">Accepted</span>
                                    <span *ngIf="row.status === 'trasnsfer'"  class="badge badge-success">No action required</span>
                                </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="Action">
                                <ng-template ngx-datatable-cell-template let-row="row">
                                    <button *ngIf="row.status === 'new'" class="btn btn-primary btn-sm mr-1" (click)="onAction(row, 'accepted')">Accept</button>
                                    <button *ngIf="row.status === 'new'" class="btn btn-secondary btn-sm" (click)="onAction(row, 'rejected')">Reject</button>
                                    <button *ngIf="row.status === 'accepted'" class="btn btn-primary btn-sm" (click)="onTransfer(row)">Transfer</button>
                                    <span  *ngIf="row.status === 'trasnsfer'">No action required</span>
                                </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Container-fluid Ends-->